.market-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ffffff24;
    border-bottom: 1px solid #ffffff24;
}

.market-menu-container p {
    margin-top: 20px;
    color: rgba(226, 232, 240, 0.78);
}

.market-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.nav-item {
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.nav-item ::deep a.active {
    text-decoration: underline;
}

.nav-item ::deep .nav-link:hover {
    text-decoration: underline;
}